extends layout

block content
  script.
    var socket = io.connect('http://localhost:3000');

    socket.on("step", function (data) {

      if(data.nodeId == "ST300.MES.St300MachineStatus" && data.value == 1){
        $("div[data-step='"+data.stepNo+"']")
          .removeClass('waiting')
          .addClass('succeed');
      }

      if(data.nodeId == "ST300.MES.St300MoveNode1" && data.value == 2){
        var stepNo = data.stepNo;
        $("div[data-step='"+data.stepNo+"']")
          .removeClass('waiting')
          .addClass('succeed');
      }



    });

  h1.text-center CNC TEST
  div.d-flex.justify-content-center
    button#btn-start.btn.btn-success.text-center START

  main
    div(data-step=1).bullet.waiting
      ul
        li ST300MachineStatus = 1
    div(data-step=2, data-action="true").bullet.waiting
      ul
        li ST300WorkOrder = 1000148.3
        li ST300GearRatio = 20:1
        li ST300MoveNode1 = 1

    div(data-step=3).bullet.waiting
      ul
        li ST300MoveNode1 = 2
    div(data-step=4, data-action="true").bullet.waiting
      ul
        li St300CollectParts = 1  
        li ST300.MES.St300RawTransferGear	= 1
        li ST300.MES.St300BearingType1_1 = 1
        li ST300.MES.St300BearingType1_2 = 1
        li ST300.MES.St300BearingType2_1 = 1
        li ST300.MES.St300BearingType2_2 = 1
        li ST300.MES.St300TransferShaftClassic = 1

    div.bullet.waiting
      ul
        li ST300.MES.St300RawTransferGear	= 99
        li ST300.MES.St300BearingType1_1 = 99
        li ST300.MES.St300BearingType1_2 = 99
        li ST300.MES.St300BearingType2_1 = 99
        li ST300.MES.St300BearingType2_2 = 99
        li ST300.MES.St300TransferShaftClassic = 99      
        li St300CollectParts = 2  
    div.bullet.waiting
      ul
        li ST300MoveNode2 = 1       
    div.bullet.waiting
      ul
        li ST300MoveNode2 = 2
        li St301Status=1 = 1
    div.bullet.waiting
      ul
        li St300ProgramJob1 = 1
    div.bullet.waiting
      ul
        li St300ProgramJob1 = 2       
    div.bullet.waiting
      ul
        li St300ProgramJob2 = 1
    div.bullet.waiting
      ul
        li St300ProgramJob2 = 2
    div.bullet.waiting
      ul
        li St300ProgramJob3 = 1 
    div.bullet.waiting
      ul
        li St300ProgramJob3 = 2
        li St301InputCAM1 = 2  
        li St301InputCAM1 = 3    
    div.bullet.waiting
      ul
        li St300ProgramJob1 = 1
    div.bullet.waiting
      ul
        li St300ProgramJob1 = 2 
    div.bullet.waiting
      ul
        li St300ProgramJob4 = 1
    div.bullet.waiting
      ul
        li St300MoveNode2 = 2
        li St300ProgramJob4 = 2    
    div.bullet.waiting
      ul
        li St300MoveNode2 = 2
        li St300ProgramJob4 = 2 
    div.bullet.waiting
      ul
        li St300ProgramJob5 = 1 or St300ProgramJob10 = 1                
    div.bullet.waiting
      ul
        li St301InputCAM2 = 2  
    div.bullet.waiting
      ul
        li St300MoveNode3 = 1
    div.bullet.waiting
      ul
        li St300MoveNode3 = 2
    div.bullet.waiting
      ul
        li St300PickTransferShaft = 1
    div.bullet.waiting
      ul
        li St300PickTransferShaft = 2      
        li St320MachineState = 4
        li St320ProcessStatus=0000 0000
        li St320DoorIsOpen = 0
        li St320WorkOrderActive = 0          

    script.
      $(".bullet").click(function(){
        var dataAction = $(this).data("action");
        if(dataAction){
          var dataStep = $(this).data("step");
          socket.emit(dataStep, "");
          $(this)
            .removeClass('waiting')
            .addClass('succeed');
        }

      });  

      $('#btn-start').click(function(){
          socket.emit("start-test", "");
          window.location.reload();
      });             