extends layout

block content

  hr
  div
    .jumbotron.text-center
      h1.test-title WORKFLOWS
      h6 This is a type of software testing, which checks that each workflow accurately reflects the given business process. A workflow involves several stages or steps to produce desired outcomes
    .container
      .row
        each workflow in workflows
          .col-sm-4
            h3= workflow.name
            div
              img(src=workflow.image)
            p= workflow.description
            a(href=workflow.name)
              button.btn.btn-lg.btn-success Test